.backgroundContainer {
  background-image: url('/images/Sunset.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.firstRow,
.secondRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
}

.container {
  background: transparent;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  color: #fff;
  border-radius: 12px;
  backdrop-filter: blur(7px);
  width: 260px;
  height: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.сontent {
  justify-content: center;
  align-items: center;
}