.backgroundContainer {
  background-image: url('/images/Comet.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
  margin-bottom: 25px;
  flex-wrap: wrap;
  flex-grow: 1;
}

.card {
  flex-basis: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
}

.container {
  background: transparent;
  color: #fff;
  backdrop-filter: blur(7px);
  width: 100vw;
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-top: 2px solid rgba(255, 255, 255, 0.2); /* Border only at the top */
  border-bottom: 2px solid rgba(255, 255, 255, 0.2); /* Border only at the bottom */
}

.container:hover {
  box-shadow: 0 0 5px rgb(255, 255, 255);
}

.content {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 120px;
  overflow-y: auto;
}

.radioButton {
  background-color: white;
}

.radio {
  display: block;
  margin-bottom: 10px;
}

.buttonPass {
  width: 360px;
  height: 46px;
  margin-right: 25px;
  border-radius: 15px;
  background-color: #fff;
  font-size: 18px;
  color: black;
  border: 2px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}